@import url(http://fonts.googleapis.com/css?family=Galindo|Nova+Square|VT323);

.group:after {
	clear: both;
	content: "";
	display: table;
}

body {
	background-image: url('../img/bg/cloud.png');
}

#wrapper {
	background-color: rgba(255,255,255,.8);
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	height: 90%;
	margin: 5%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	width: 90%;
}

h1 {
	background: rgb(183,222,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,222,237,1)), color-stop(50%,rgba(113,206,239,1)), color-stop(51%,rgba(33,180,226,1)), color-stop(100%,rgba(183,222,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* W3C */
	-moz-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
	color: white;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
	font-family: 'Galindo', cursive;
	font-size: 38px;
	height: 40px;
	margin-bottom: 1%;
	padding: 10px;
	text-align: center;
	text-shadow: 4px 4px 4px grey;
}

#content {
	position: absolute;
	width: 100%;
}

#list_wrapper {
	float: left;
	margin-left: 1%;
	width: 15%;
}

#list {
	border: 1px solid black;
	/* -moz-border-radius: 0 0 10px 10px; */
	/* border-radius: 0 0 10px 10px; */
	border-top: 0px;
	width: 100%;
}

#list li {
	background: rgb(242,246,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,246,248,.7) 0%, rgba(216,225,231,.7) 50%, rgba(181,198,208,.7) 51%, rgba(224,239,249,.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,.7)), color-stop(50%,rgba(216,225,231,.7)), color-stop(51%,rgba(181,198,208,.7)), color-stop(100%,rgba(224,239,249,.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,246,248,.7) 0%,rgba(216,225,231,.7) 50%,rgba(181,198,208,.7) 51%,rgba(224,239,249,.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,246,248,.7) 0%,rgba(216,225,231,.7) 50%,rgba(181,198,208,.7) 51%,rgba(224,239,249,.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,246,248,.7) 0%,rgba(216,225,231,.7) 50%,rgba(181,198,208,.7) 51%,rgba(224,239,249,.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,246,248,.7) 0%,rgba(216,225,231,.7) 50%,rgba(181,198,208,.7) 51%,rgba(224,239,249,.7) 100%); /* W3C */
	border-top: 1px solid black;
	color: grey;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
	font-family: 'VT323', cursive;
	font-size: 19px;
	padding: 7px 0;
	text-align: center;
	width: 100%;
}

#list .selected {
	color: black;
}

#task_wrapper {
	display: block;
	float: left;
	margin-left: 1%;
	width: 62%;
}

#tasks {
	border: 1px solid black;
	border-top: 0px;
	width: 100%;
}

#tasks li {
	background: rgb(157,213,58); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(157,213,58,.7) 0%, rgba(161,213,79,.7) 50%, rgba(128,194,23,.7) 51%, rgba(124,188,10,.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,.7)), color-stop(50%,rgba(161,213,79,.7)), color-stop(51%,rgba(128,194,23,.7)), color-stop(100%,rgba(124,188,10,.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(157,213,58,.7) 0%,rgba(161,213,79,.7) 50%,rgba(128,194,23,.7) 51%,rgba(124,188,10,.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(157,213,58,.7) 0%,rgba(161,213,79,.7) 50%,rgba(128,194,23,.7) 51%,rgba(124,188,10,.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(157,213,58,.7) 0%,rgba(161,213,79,.7) 50%,rgba(128,194,23,.7) 51%,rgba(124,188,10,.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(157,213,58,.7) 0%,rgba(161,213,79,.7) 50%,rgba(128,194,23,.7) 51%,rgba(124,188,10,.7) 100%); /* W3C */
	border-top: 1px solid black;
	color: #2A848E;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	font-family: 'Galindo', cursive;
	font-size: 19px;
	padding: 7px;
	padding-left: 20px;
}

#dones li.label {
	color: #5D622D;
	font-family: 'Galindo', cursive;
	font-size: 19px;
	padding: 7px;
	text-align: center;
}

#removes li.label {
	color: #62322D;
	font-family: 'Galindo', cursive;
	font-size: 19px;
	padding: 7px;
	text-align: center;
}

#done_wrapper, #remove_wrapper {
	border-top: 0px;
	display: block;
	float: left;
	width: 10%;
}

#dones, #removes {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 0px;
	width: 100%;
}

#dones li, #removes li {
	border-top: 1px solid black;
	font-family: 'Galindo', cursive;
	font-size: 15px;
	padding: 5px;
	text-align: center;
}

#dones li {
	background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,234,187,.7) 0%, rgba(252,205,77,.7) 50%, rgba(248,181,0,.7) 51%, rgba(251,223,147,.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,.7)), color-stop(50%,rgba(252,205,77,.7)), color-stop(51%,rgba(248,181,0,.7)), color-stop(100%,rgba(251,223,147,.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,234,187,.7) 0%,rgba(252,205,77,.7) 50%,rgba(248,181,0,.7) 51%,rgba(251,223,147,.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,234,187,.7) 0%,rgba(252,205,77,.7) 50%,rgba(248,181,0,.7) 51%,rgba(251,223,147,.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,234,187,.7) 0%,rgba(252,205,77,.7) 50%,rgba(248,181,0,.7) 51%,rgba(251,223,147,.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,234,187,.7) 0%,rgba(252,205,77,.7) 50%,rgba(248,181,0,.7) 51%,rgba(251,223,147,.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

#removes li {
	background: rgb(248,80,50); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(248,80,50,.2) 0%, rgba(241,111,92,.2) 50%, rgba(246,41,12,.2) 51%, rgba(240,47,23,.2) 71%, rgba(231,56,39,.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,.2)), color-stop(50%,rgba(241,111,92,.2)), color-stop(51%,rgba(246,41,12,.2)), color-stop(71%,rgba(240,47,23,.2)), color-stop(100%,rgba(231,56,39,.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,80,50,.2) 0%,rgba(241,111,92,.2) 50%,rgba(246,41,12,.2) 51%,rgba(240,47,23,.2) 71%,rgba(231,56,39,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,80,50,.2) 0%,rgba(241,111,92,.2) 50%,rgba(246,41,12,.2) 51%,rgba(240,47,23,.2) 71%,rgba(231,56,39,.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,80,50,.2) 0%,rgba(241,111,92,.2) 50%,rgba(246,41,12,.2) 51%,rgba(240,47,23,.2) 71%,rgba(231,56,39,.2) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,80,50,.2) 0%,rgba(241,111,92,.2) 50%,rgba(246,41,12,.2) 51%,rgba(240,47,23,.2) 71%,rgba(231,56,39,.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

#copy {
	background-color: rgba(255,255,255,0.4);
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	bottom: 0px;
	display: block;
	font-family: 'Nova Square', cursive;
	font-size: 12px;
	margin: 0 5%;
	position: fixed;
	right: 0px;
	text-align: center;
	width: 90%;
}

#dones img, #removes img {
	height: 20px;
	weight: 20px;
}

#pref {
	height: 50%;
	left: 12px;
	position: absolute;
	top: 12px;
	/* -webkit-animation: rotation 20s infinite linear; */
	width: 30%;
}

#pref img {
	height: 35px;
	width: 35px;
}

/* @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg); */

/* }
    to   {-webkit-transform: rotate(359deg); */

#pref_panel {
	background-color: rgba(0,0,0,.4);
	-moz-border-radius: 0 15px;
	border-radius: 0 15px;
	display: none;
	height: 100%;
	overflow-y: scroll;
	padding: 10px;
	position: absolute;
	top: 60px;
	width: 100%;
	z-index: 2;
}

#pref li {
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
	border: 1px solid black;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	font-family: 'Nova Square', cursive;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 10px;
	text-align: center;
}

#file_import {
	display: none;
}

@media only screen and (max-width: 720px) {
	h1 {
		color: white;
		font-size: 25px;
		height: 30px;
		margin-bottom: 1%;
		padding: 5px 0;
		text-align: center;
	}

	#pref {
		top: 8px;
	}

	#pref img {
		height: 28px;
		width: 28px;
	}

	#pref_panel {
		top: 40px;
	}

	.label  {
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
	}

	#tasks li {
		padding-left: 10px;
	}

	#list li {
		font-size: 21px;
		padding: 6px 0;
	}

	#list_wrapper {
		width: 25%;
	}

	#task_wrapper {
		width: 52%;
	}
}